archivesspace_img   = "archivesspace/archivesspace:3.3.1"
cluster_name        = "aspace-cluster"
db_host             = "database.archivesspace.org"
db_name             = "archivesspace"
db_password_param   = "aspace-db-password"
db_username_param   = "aspace-db-username"
efs_name            = "aspace-efs"
domain              = "archivesspace.org"
lb_name             = "aspace-lb"
security_group_name = "aspace-private-app"
solr_img            = "archivesspace/solr:3.3.1"
subnet_type         = "Private"
vpc_name            = "aspace-vpc"
