archivesspace_img        = "archivesspace/archivesspace:latest"
cluster_name             = "aspace-cluster"
db_host                  = "database.archivesspace.org"
db_name                  = "archivesspace"
db_password_param        = "aspace-db-password"
db_username_param        = "aspace-db-username"
efs_name                 = "aspace-efs"
domain                   = "archivesspace.org"
lb_name                  = "aspace-lb"
security_group_name      = "aspace-private-app"
smtp_address             = "smtp.gmail.com"
smtp_domain              = "gmail.com"
smtp_from_address        = "no-reply@example.org"
smtp_password_param      = "aspace-smtp-password"
smtp_username_param      = "aspace-smtp-username"
solr_discovery_namespace = "aspace.solr"
solr_img                 = "archivesspace/solr:latest"
subnet_type              = "Private"
vpc_name                 = "aspace-vpc"
