archivesspace_img  = "archivesspace/archivesspace:3.3.1"
certificate_domain = "*.archivesspace.org"
domain             = "archivesspace.org"
profile            = "default"
profile_for_dns    = "default"
solr_img           = "archivesspace/solr:3.3.1"
